DB_HOST='dados do banco'
DB_DATABASE='dados do banco'
DB_USER='dados do banco'
DB_PASSWORD='dados do banco'

AWS_ACCESS_KEY_ID='dados da aws'
AWS_SECRET_ACCESS_KEY='dados da aws'
AWS_SESSION_TOKEN='dados da aws'
AWS_DEFAULT_REGION='dados da aws'
AWS_BUCKET_BRONZE='dados da aws'
AWS_BUCKET_SILVER='dados da aws'
AWS_BUCKET_GOLD='dados da aws'